body {
    display: flex;
    background-color: #ffffff;
    padding-right: 64px;
    padding-left: 64px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap : 32px;
}

header {
    gap: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-image: url('img/topbillede.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 120%;
    height: 100vh; /* Adjust height as needed */
    margin-left : -72px;
    
}

main h1 {
    margin-left: 64px;
    color: #ffffff;
    font-size: 4rem;
    font-family: 'dm serif display', serif;
    font-weight: 500;
    max-width: 50%;
}

main p {
    margin-left: 64px;
    color: #ffffff;
    font-size: 1.5rem;
    max-width: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo {
    transform: scale(.8);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    gap: 32px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    border-radius: 5px;
}

.book-meeting-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-meeting-btn:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}



@media (max-width: 1200px) {
    body {
        padding-right: 32px;
        padding-left: 32px;
    }

    main h1 {
        font-size: 3rem;
        max-width: 100%;
    }

    .nav-links {
        display: none; /* Hide navigation items by default */
        position: absolute;
        top: 80px; /* Adjust this if necessary */
        left: 0;
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex; /* Show the menu when active */
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: 768px) {
    body {
        padding-right: 16px;
        padding-left: 16px;
    }


    .logo {
        transform: scale(0.6);
    }
}

@media (max-width: 480px) {
    body {
        padding-right: 8px;
        padding-left: 8px;
    }
}

